*{
    margin: 0;
    padding: 0;
}
body{
 width: 100%;
 height: auto;
 line-height: 1.5;
}
header {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    gap: 2.5rem;
}
#navbar{
    width: 58%;
    margin-left: 180px;    /*check*/
}
#navbar i{ 
    font-size: 2.5rem;
    color: rgb(255,225,0);
}
#navbar span{
    font-size: 1.9rem; 
    font-weight: 800;
}

.phone{
    margin-top: 15px;  
    
}
.phone i{
font-size: 1.5rem;
color: var(--color-secondary) ;
color: rgb(255, 225, 0);

}
.phone span{
    font-size: 20px;
}
.nav-btn button{
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    border-style: none;
    background-color: rgb(255,225,0);
}
.nav{
    word-spacing: 20px;
    background-color: blue;
    height: 43px;
    width: 80vw;
    margin-left: 184px;      /*check*/
    justify-content: center;

}
.nav a{
    text-decoration: none;
    color: white;
    padding: 19px;
    font-size: 23px;
    margin: 15px;
    position: static;
}
#mainsection{
    background-image: url(UABZoom8.jpg);
    height: 920px;
    width: 100%;
    /* background-size: cover; */
    position: absolute;
}
#mainsection>h2{
    font-size: 50px;
    margin-top: 400px;
    margin-left: 130px;
    font-size: 70px;
    /* color: rgb(116, 199, 227); */
}
#mainsection>p{
    font-size: 25px;
    margin-left: 130px;
}
#mainsection>button{
    margin-top: 10px;
    margin-left: 130px;
    box-sizing: border-box;
    height: 70px;
    width: 240px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
}
button:hover{
    background-color: rgb(225, 225, 0);
}
#mainsection>#enroll{
    margin-left: 10px;
}
#box{
    display: flex;
    margin-top: 400px;
    width: 100%;
    height: 300px;
}
#box1{
    background-color: rgb(2, 146, 186);
    width: 20%;
    margin-left: 105px;
    text-align: center;
}
#box1>h1{
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
#box1>p{
    color: white;
    margin-top: 30px;
}
#box2{
    background-color: rgb(122, 34, 222);
    width: 20%;
    margin-left: 30px;
    text-align: center;
}
#box2>h1{
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
#box2>p{
    color: white;
    margin-top: 30px;
}
#box3{
    background-color: rgb(46, 208, 51);
    width: 20%;
    margin-left: 30px;
    text-align: center;
}
#box3>h1{
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
#box3>p{
    color: white;
    margin-top: 30px;
}
#box4{
    background-color: rgb(198, 213, 38);
    width: 20%;
    margin-left: 30px;
    text-align: center;
}
#box4>h1{
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
#box4>p{
    color: white;
    margin-top: 30px;
}
#mainsection>img{
    margin-top: 25px;
    padding: 190px;
}
.course{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
.course>span{
    color: rgb(220, 209, 6);
}
.our_course{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 300px;
}
#course1{
    background-color: aqua;
    margin-left: 90px;
    width: 20%;
}
#course2{
    background-color: rgb(136, 0, 255);
    width: 20%;
    margin-left: 20px;
}
#course3{
    background-color: rgb(128, 255, 0);
    width: 20%;
    margin-left: 20px;
}
#course4{
    background-color: rgb(255, 0, 157);
    width: 20%;
    margin-left: 20px;
}
@media screen {
    
}